## Decision Trees Classification

In [1]:
import numpy as np
import pandas as pd
from sklearn import tree

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

sckit-learn kütüphanesi decision tree'lerin düzgün çalışması için her şeyin rakamsal olmasını bekler bu yüzden datasetimizdeki Y ve N değerlerini 0 ve 1 olarak düzenliyoruz => N:0, Y:1
BS:0, MS:1, PhD:2

map( ) kullanarak geçersiz değer girilen hücreler NaN ile doldurulacaktır

In [2]:
correction_mapping = {'Y':1, 'N':0}

df['IseAlindi'] = df['IseAlindi'].map(correction_mapping)
df['StajBizdeYaptimi?'] = df['StajBizdeYaptimi?'].map(correction_mapping)
df['Top10 Universite?'] = df['Top10 Universite?'].map(correction_mapping)
df['SuanCalisiyor?'] = df['SuanCalisiyor?'].map(correction_mapping)

correction_mapping_edu = {'BS':0, 'MS':1, 'PhD':2}

df['Egitim Seviyesi'] = df['Egitim Seviyesi'].map(correction_mapping_edu)

In [3]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,1,4,0,0,0,1
1,0,0,0,2,1,1,1
2,5,1,2,1,0,1,1
3,3,0,1,0,0,1,1
4,0,0,0,0,0,0,0

Sonuç Sütununu Ayırıyoruz

In [4]:
y = df['IseAlindi']
x = df.drop(['IseAlindi'],axis=1)

In [5]:
x.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?
0,11,1,4,0,0,0
1,0,0,0,2,1,1
2,5,1,2,1,0,1
3,3,0,1,0,0,1
4,0,0,0,0,0,0

#### Decision Tree Oluşturulur

In [6]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(x,y)

In [7]:
# Prediction

#5 yıl deneyimli, halihazırda bir yerde çalışan ve 3 eski şirkette çalışmış olan, eğitim seviyesi lisans
print(clf.predict([[5,1,3,0,0,0]]))

[1]

In [8]:
# 2 yıl deneyimli, 7 kez iş değiştirmiş, çok iyi bir okul mezunu, şu an çalışmıyor
print(clf.predict([[2,0,7,0,1,0]]))

[0]

In [9]:
# 20 yıl deneyimli, 5 kez iş değiştirmiş, iyi bir okul mezunu, şu an çalışmıyor
print(clf.predict([[20,0,5,1,1,1]]))

[1]